<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmIQQfXcdVdWclEj_H6WP16Mn452K56jQ</string>
	<key>GCM_SENDER_ID</key>
	<string>593288416243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>g.FireTranslator</string>
	<key>PROJECT_ID</key>
	<string>firetranslatorserver</string>
	<key>STORAGE_BUCKET</key>
	<string>firetranslatorserver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593288416243:ios:8cde2fc65d13032ea26086</string>
</dict>
</plist>